.dashboard-card {
    width: 100%;
    margin: 15px 0;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    .title {
        font-weight: 500;
        font-size: 18px;
        color: hsla(0, 0%, 100%, .6);
    }
    .val {
        font-size: 1.3118rem;
        line-height: 1.311rem;
        font-weight: 700;
        color: #fff;
    }
    @media(max-width:768px) {
        height: 70px;
        .title {
            font-size: 15pt;
        }
        .val {
            font-size: 17pt;
            font-weight: 500;
        }
    }
}