@import "./variables/color.scss";
.page{
    background-color:$page-background-color;
    min-height: 100vh;
    .page-container{
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
}