.presale {
    width: 100%;
    padding: 30px 20px 0 20px;
    text-align: center;
    font-family: Square !important;
    .presale-container {
        width: 100%;
        max-width: 832px;
        min-height: 200px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #F2BC07;
        box-shadow: 7px 11px 20px rgb(255 153 0 / 10%);
        .presale-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            .title {
                color: #d1dee4;
                font-size: 24px;
                font-weight: 600;
                text-align: left;
            }
            .description {
                font-size: 10px;
                color: #777d81;
                font-style: normal;
                text-align: left;
            }
        }
        .overview-info {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .info-item {
                min-width: 120px;
                padding: 20px 0 20px 0;
                text-align: center;
                color: #fff;
                text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
                .value {
                    font-size: 22px;
                }
            }
        }
        .info {
            width: 100%;
            padding: 5px 0px;
            .unit-row {
                color: #728ea2;
                font-weight: lighter;
                text-align: left;
                .title {
                    width: calc(100% - 200px);
                    display: inline-block;
                    text-align: left;
                    font-size: 13pt;
                }
                .value {
                    width: 200px;
                    display: inline-block;
                    text-align: right;
                }
                @media(max-width:768px) {
                    .title {
                        width: 100%;
                    }
                    .value {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
        .item {
            border-top-width: 4px;
            border-color: #232e3f00;
            overflow-anchor: none;
            .item-title {
                color: #d9dadc;
                font-weight: normal !important;
                background-color: #17202e6b;
            }
            .item-body {
                .unit-row {
                    color: #728ea2;
                    font-weight: lighter;
                    text-align: left;
                    .title {
                        width: calc(100% - 200px);
                        display: inline-block;
                        text-align: left;
                    }
                    .value {
                        width: 200px;
                        display: inline-block;
                        text-align: right;
                    }
                    @media(max-width:768px) {
                        .title {
                            width: 100%;
                        }
                        .value {
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
                .presale-link {
                    color: #edf2f7;
                    font-weight: 300;
                    font-size: 13px;
                    width: 100%;
                    text-align: center;
                    a {
                        color: #edf2f7;
                        font-weight: 300;
                        font-size: 13px;
                        width: 100%;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}