.sidebar {
    background: #354255eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-mini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px !important;
}

.sidebar-logo {
    color: #fcac05;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 32pt;
    text-shadow: 0 2px 2px rgb(162 114 12);
    a {
        display: flex;
        justify-content: center;
    }
    small {
        color: #fff;
        font-size: 13px;
        text-shadow: none;
        font-weight: 100;
    }
}

.sidebar-content {
    justify-content: left !important;
    align-items: flex-start !important;
    padding-left: 20px;
    *:focus {
        box-shadow: none !important;
    }
}

.sidebar-link {
    line-height: 30px !important;
    width: 150px;
    color: #fff !important;
    font-weight: normal !important;
    font-size: 22px !important;
}

.sidebar-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    Button {
        font-size: 25px;
        color: white;
    }
}

.sidebar-footer:hover {
    color: black;
}